@font-face {
	font-family: ScreenFont;
	src: url(../fonts/ScreenFont.ttf);
}

body {
	margin-top: calc((100vh - 698px) / 2);
	font-family: ScreenFont;
	font-size: 36px;
	text-align: center;
	color: #f7ffa0;
	background-image: url(../img/screen-background.png);
	background-repeat-x: no-repeat;
	background-size: 100%;
}

p {
	margin: 12px 0;
}

.title {
	width: 453px;
	height: 144px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 68px;
	background-image: url(../img/screen-title.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.position {
	font-size: 156px;
	color: #f3ff74;
}
