body {
	margin: 0;
	background-image: url(../img/background.png);
	background-repeat-x: no-repeat;
	background-size: 100%;
	text-align: center;
}

.reserve {
	margin-top: calc((100vh - 450px) / 2);
}
.status {
	margin-top: calc((100vh - 549px) / 2);
}
.success-status {
	margin-top: calc((100vh - 472px) / 2) !important;
}

.status,
.status .title,
.guide-content,
.reserve {
	display: none;
}

.error {
	display: none;
	color: rgba(255, 152, 0, 0.7);
	margin-top: 5px;
}

.info {
	display: flex;
	justify-content: center;
	width: 260px;
	height: 48px;
	margin-top: 32px;
	margin-left: calc((100vw - 276px) / 2);
	color: rgba(255,255,255,0.36);
	background-repeat: no-repeat;
	background-position: 24px center;
	background-color: rgba(255,255,255,0.16);
	border-color: transparent;
	border-radius: 24px;
}
.name {
	background-image: url(../img/name.png);
}
.phone {
	background-image: url(../img/phone.png);
}
.email {
	background-image: url(../img/email.png);
}

input {
	margin-left: 52px;
	font-size: 16px;
	color: rgba(255,255,255,0.87);
	background-color: transparent;
	border-color: transparent;
}

*:focus {
	outline: none;
}

input::-webkit-input-placeholder {
	color: rgba(255,255,255,0.36) !important;
}
input::-moz-placeholder {
	color: rgba(255,255,255,0.36) !important;
}

.title {
	width: 244px;
	height: 82px;
	margin: 32px calc((100vw - 260px) / 2);
	background-image: url(../img/title.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.notice {
	padding-top: 1em;
	color: #fff !important;
}
.missed .notice {
	padding-top: 2em;
}
.pending-info {
	padding-bottom: 2em;
}

.position {
	font-size: 64px;
	margin: 16px 0;
	color: rgb(254,254,145) !important;
}

.guide-content > p,
.missed > p,
.status > p {
	color: rgba(255,255,255,0.63);
}

button {
	width: 116px;
	height: 48px;
	margin-top: 48px;
	background-color: transparent;
	font-size: 16px;
	color: rgba(255,255,255,0.87);
	border-color: white;
	border-width: 1px;
	border-style: solid;
	border-radius: 32px;
}

.choices {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}

.choices button {
	margin-top: 0;
}
