body {
	background-image: url(../img/background.png);
	background-size: 100%;
	text-align: center;
}
.status {
	margin-top: 96px;
}
.status > p {
	color: rgba(255,255,255,0.63);
}
.position {
	font-size: 64px;
	margin: 16px 0;
	color: rgb(254,254,145) !important;
}
.fresh {
	width: 116px;
	height: 48px;
	margin-top: 32px;
	background-color: transparent;
	font-size: 16px;
	color: rgba(255,255,255,0.87);
	border-color: white;
	border-width: 1px;
	border-radius: 32px;
}
