body {
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
}
input {
	width: 260px;
	height: 48px;
	margin-bottom: 32px;
	color: rgba(255,255,255,0.36);
	font-size: 16px;
	background-color: rgba(255,255,255,0.16);
	border-color: transparent;
	border-radius: 24px;
}

input::-webkit-input-placeholder {
	color: rgba(255,255,255,0.36) !important;
}
input::-moz-placeholder {
	color: rgba(255,255,255,0.36) !important;
}

.title {
	width: 244px;
	height: 82px;
	margin: 48px calc((100vw - 244px) / 2);
	background-image: url(../img/title.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.status {
	margin-top: 96px;
}
.status > p {
	color: rgba(255,255,255,0.63);
}
.position {
	font-size: 64px;
	margin: 16px 0;
	color: rgb(254,254,145) !important;
}
.submit,
.fresh {
	width: 116px;
	height: 48px;
	margin-top: 32px;
	background-color: transparent;
	font-size: 16px;
	color: rgba(255,255,255,0.87);
	border-color: white;
	border-width: 1px;
	border-radius: 32px;
}
